@use '../../styles/variables.scss';

.console-container {
	width: 100%;
	padding: 0px;
	font-family: 'Courier New', Courier, monospace; /* Console-like font */
	border: 1px solid #333;
	border-left: 10px solid #332;
	background-color: variables.$back-100;
	background-color: #fff;
}
  
.line-grey {
	background-color: variables.$back-300;
	color: variables.$front-300;
	padding: 2px;
	padding-left: 10px;
}

.line-white {
	background-color: variables.$front-500;
	padding: 2px;
	padding-left: 10px;
	color: variables.$back-100;
}
  