@use '../../styles/variables.scss';

.centerImage
{
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;

	.image
	{
		// object-fit: cover;
		min-width: 50%;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.box
{
	margin-bottom: 10px;
	width: fit-content;
	
	max-width: 40%;
	min-width: 40%;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid variables.$back-100;
	background-color: variables.$front-100;
	border-radius: 4px 4px;
	padding: 4px;
}

.actionBox
{
	margin-bottom: 20px;
	width: 100%;
	max-width: 100%;
	margin: 0px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid variables.$front-300;
	background-color: variables.$back-100;
	color: variables.$front-100;
	border-radius: 4px 4px;
	padding: 4px;
}