@use './variables.scss'; 

#projectsList {
	margin: 20px;
	padding: 10px;
	border: 1px solid variables.$front-100;
}

.projectCreate{
	margin: 20px;
	padding: 10px;
	border: 1px solid variables.$front-100;
	background-color: variables.$back-200;
}