$back-100: var(--back-100);
$back-200: var(--back-200);
$back-300: var(--back-300);
$back-400: var(--back-400);
$back-500: var(--back-500);
$green-100: var(--green-100);
$front-100: var(--front-100);
$front-200: var(--front-200);
$front-300: var(--front-300);
$front-400: var(--front-400);
$front-500: var(--front-500);
$color-red: var(--color-red);

$shadow-100: #7a7a7ae4;

// :root {
// 	// --back-color: $front-100;
// 	// --text-color: $front-500;
// }


html,
body,
#root {
  height: 100%;
}

.front-100 {
	color: $front-100 !important;
}
.front-200 {
	color: $front-200 !important;
}
.front-300 {
	color: $front-300 !important;
}
.front-400 {
	color: $front-400 !important;
}
.front-500 {
	color: $front-500 !important;
}
.shadow-100 {
	color: $shadow-100 !important;
}
.back-100 {
	background-color: $back-100 !important;
	color: $front-100;
}
.back-200 {
	background-color: $back-200 !important;
	color: $front-200;
}
.back-300 {
	background-color: $back-300 !important;
	color: $front-300;
}
.back-400 {
	background-color: $back-400 !important;
	color: $front-400;
}
.back-500 {
	background-color: $back-500 !important;
	color: $front-500;
}