@use '../../styles/variables.scss';

.airfoil-grid-container {
	grid-area: mainAirfoilContent;

	// padding: 30px;
	height: 100%;

	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	
	overflow-y: auto;
  
	justify-content: space-evenly;
	align-items: flex-start;
	color: variables.$front-300 !important;
  
}

.airfoil-grid-item {
	width: 200px;
	height: 200px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	color: variables.$front-300 !important;

	&.selected {
		filter: sepia(1) invert(0.1);
	}
}

.airfoil-grid-item:hover{
	// border: 1px solid #ab221a;
	filter: invert(0.1);
}

.airfoil-grid-item img {
	max-width: 100%;
	height: auto;	
}


#airfoilSideBar {
	grid-area: sidebarAirfoil;
}